.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
private/*
resources/_gen/*
*.zip
temp_figs/*

static/slides/**/*_cache/*
blogdown/md5sum.txt
static/slides/.Rhistory
static/slides/.Rhistory
/static/slides/.Rproj.user
static/slides/.Rhistory
static/slides/.Rhistory
static/slides/.Rproj.user/shared/notebooks/paths
static/slides/.Rhistory
